.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  gap: 24px;
}
.topSection {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
}
.topSection > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.topSection > input {
  all: unset;
  border: 1px solid rgb(15, 50, 65);
  width: 100%;
  height: 38px;
  padding: 2px 12px;
  border-radius: 12px;
}
.bottomSection > li {
  cursor: pointer;
}
.error {
  color: red;
}
.bottomSection {
  display: flex;
  flex-direction: column;
}
.cityName {
  border: 1px solid rgb(15, 50, 65);
  margin-top: 12px;
  border-radius: 12px;
  padding: 12px;
  color: rgb(178, 203, 224);
}
.cityName:hover {
  box-shadow: 2px 5px rgb(15, 50, 65);
}
